.itemTypeSelection {
  text-align: center;
  padding-bottom: 5px;
}
.toolPage {
  width: 100%;
}
.toolPage tr {
  padding-bottom: 5px;
}
.toolPageDescription {
  padding-top: 8px;
  padding-bottom: 15px;
}
.toolItemLabel {
  width: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-align: right;
  vertical-align: top;
}
.toolItemValue {
  padding-bottom: 5px;
}
