<header>
    <div class="container noTopPadding">
        <div class="floatLeft productTitle productTitleWide">
            <a ui-sref="overview"><strong>Ministry of Transportation - Fleet Management Starter</strong> - Monitoring</a>
        </div>
        <div class="floatLeft productTitle productTitleNarrow">
            <a ui-sref="overview">IBM IoT for Automotive</a>
        </div>

        <div class="floatRight">
            <div>
                <img src="img/mto.png" class="circularImg" />
            </div>

            <!--<p class="floatRight medium-hide" id="userName">
                Sari
            </p>-->

            <p class="floatRight medium-show large-hide" id="hamburger">
                <a href="#" id="menuButton">
                    <span class="first"></span>
                    <span class="second"></span>
                    <span class="third"></span>
                </a>
            </p>
        </div>
    </div>
</header>

<div class="content">
    <aside id="sidebar" class="sidebar" ng-controller="sidebar">
        <ul class="sidebarItems">
            <li *ngFor="let sidebarItem of sidebarItems" routerLinkActive="active">
                <a [routerLink]="[sidebarItem.route]"><i class="{{sidebarItem.icon}}"></i>{{sidebarItem.title}}</a>
            </li>
        </ul>
    </aside>

    <div id="mainContent" class="mainContent">
        <div class="overlay"></div>
        <router-outlet></router-outlet>
    </div>
</div>