<div class="container-50 noTopPadding container-30-right">
	<div class="floatRight">
		<button [disabled]="vehicleList.requestSending" *ngIf="isIoTPAvailable" (click)="onSyncWithIoTPlatform()">Sync with IoT Platform</button>
		<button [disabled]="vehicleList.requestSending" (click)="onCreateVehicle()">Create Vehicle</button>
		<button [disabled]="vehicleList.requestSending" (click)="onCreateVendor()">Manage Vendor</button>
	</div>

	<h4>VEHICLES</h4>
</div>

<div class="marginTop">
	<vehicle-list></vehicle-list>
</div>

<!-- Vendor management dialog -->
<div class="modal-overlay" [hidden]="!isWorkingWithVendor">
	<div class="modal-overlay-contents">
		<div class=modal-overlay-header>Vendor Management</div>
		<div class=modal-overlay-body>
			<vendor-list></vendor-list>
		</div>
		<div class="modal-overlay-buttons">
			<button (click)="onClose()">Close</button>
		</div>
	</div>
</div>
